*/.vs/
*.suo
*.csproj.user
/maggy/maggyForm/bin/
/maggy/maggyForm/obj/
/oneTap/oneTapForm/bin/
/oneTap/oneTapForm/obj/
/AutoFillMCM/AutoFillMCM/bin/
/AutoFillMCM/AutoFillMCM/obj/
/csvUsFrConvertor/csvUsFrConvertor/bin/
/csvUsFrConvertor/csvUsFrConvertor/obj/
/DeleteEmptyFolder/DeleteEmptyFolder/bin/
/DeleteEmptyFolder/DeleteEmptyFolder/obj/
/EnumHandle/EnumHandle/bin/
/EnumHandle/EnumHandle/obj/
/IhmMinMax/IhmMinMax/bin/
/IhmMinMax/IhmMinMax/obj/
/JiraFilling/JiraFilling/bin/
/JiraFilling/JiraFilling/obj/
/ren/ren/bin/
/ren/ren/obj/
/renLight/renLight/bin/
/renLight/renLight/obj/
/SceSelector/SceSelector/bin/
/SceSelector/SceSelector/obj/
/snapshotForm/snapshotForm/bin/
/snapshotForm/snapshotForm/obj/
/XmlDataKeeper/DataKeeperConsoleTest/bin/
/XmlDataKeeper/DataKeeperConsoleTest/obj/
/tnt/tnt/bin/
/tnt/tnt/obj/
/tntpro/tntpro/bin/
/tntpro/tntpro/obj/
/vltream/vltream/bin/
/vltream/vltream/obj/
/providerReplace/providerReplace/bin/
/providerReplace/providerReplace/obj/
/Aging/Aging/bin/
/Aging/Aging/obj/
